deb http://packages.dotdeb.org wheezy all
deb-src http://packages.dotdeb.org wheezy all

{% if with_php55 %}
deb http://packages.dotdeb.org wheezy-php55 all
deb-src http://packages.dotdeb.org wheezy-php55 all
{% endif %}
